<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </ion-avatar>
      <ion-title>{{pokemon.name}}</ion-title>
      <ion-button (click)="showDetails(pokemon.id)">Detalhes</ion-button>
    </ion-item>
  </ion-list>

  <div class="ion-text-center ion-margin">
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <div>

      <ion-button (click)="prevPage()" [disabled]="currentPage === 1"
        >Anterior</ion-button
      >
  
      <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages"
        >Próxima</ion-button
      >
    </div>
  </div>
</ion-content>
