<ion-header>
  <ion-toolbar>
    <ion-title>Favorites Pokemons</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let pokemon of favoritePokemons">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </ion-avatar>
      <ion-label>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
